<!DOCTYPE html>
<html>
    <head>
        <title>Архив всех статей</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}article.css">
    </head>
    <body>
        <div class="headera">
            <img src="{{ STATIC_URL }}django_logo.png"/>
			<a href="/registration">Регистрация</a><br>
			<a href="/authenticate">Войти </a>
        </div>
        <div class="archive">
            {% for post in posts %}
            <div class="one-post">
			    <a href = "/article/{{ post.id }}">
                <h2 class="post-title">{{ post.title }}</h2>
				</a>
                <div class="article-info">
                    <div class="article-author">{{ post.author.username }}</div>
                    <div class="article-created-date">{{ post.created_date }}</div>
                </div>
                <p class="article-text">{{ post.get_excerpt }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>


